<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    {%  if title  %}
        <title>{{ title }}</title>
    {% else %}
        <title>Unknown title</title>
    {% endif %}
</head>
<body>
    <div class="logo">
      <img src="https://i.imgur.com/Fmfks8H.png" align="right" alt="fishvan">
    </div>
    <div class="navbar">
        {%  if not (current_user.is_authenticated and current_user.is_active)%}
            <br>
            <a href="{{ url_for('home') }}">Home</a>&emsp;
            <a href="{{ url_for('about') }}">About</a>&emsp;
            <a href="{{ url_for('orders') }}">Orders</a>&emsp;
            <a href="{{ url_for('placeorder') }}">Plaice your order</a>&emsp;
            <br>

        {%  else  %}
            <br>
            <a href="{{ url_for('home') }}">Home</a>&emsp;
            <a href="{{ url_for('about') }}">About</a>&emsp;
            <a href="{{ url_for('orders') }}">Orders</a>&emsp;
            <a href="{{ url_for('placeorder') }}">Place a order</a>&emsp;
        {%  endif %}

    </div>
    {% block body_content %}{% endblock %}
</body>
</html>