{%extends "layout.html" %}

{%  block body_content %}
    <h1>Plaice Your Order</h1>
    <div class="form">
    <form method="post" action="">
        {{  form.hidden_tag() }}
        <div class="form-group">
            {{ form.fk_stock_id.label }}
            {{ form.fk_stock_id }}
            {% if form.fk_stock_id.errors %}
                <div class="error">
                    {%  for error in form.fk_stock_id.errors %}
                        <span>{{  error }}</span>
                    {%  endfor %}
                </div>
            {%  endif %}
        </div>
    <p></p>
         <div class="form-group">
            {{ form.quantity.label }}
            {{ form.quantity }}
            {% if form.quantity.errors %}
                <div class="error">
                    {%  for error in form.quantity.errors %}
                        <span>{{  error }}</span>
                    {%  endfor %}
                </div>
            {%  endif %}
        </div>

        <p></p>

        <div class="form-group">
            {{ form.submit}}
        </div>
        <br>
        <br>

    </form>
    </div>
{%  endblock %}