{% extends 'layout.html' %}
{% block body_content %}
    <h1>Register Page</h1>
    <p>Need an account? Sign up</p>
    <div class='form'>
        <form method='POST' action=''>
            {{ form.hidden_tag() }}
         <div class="form-group">
            {{ form.f_name.label }}
            {{ form.f_name }}
            {% if form.f_name.errors %}
                <div class="error">
                    {%  for error in form.f_name.errors %}
                        <span>{{  error }}</span>
                    {%  endfor %}
                </div>
            {%  endif %}
        </div>

        <br>
         <div class="form-group">
            {{ form.l_name.label }}
            {{ form.l_name}}
             {% if form.l_name.errors %}
                    <div class="error">
                        {%  for error in form.title.errors %}
                            <span>{{  error }}</span>
                        {%  endfor %}
                    </div>
                {%  endif %}
         </div>
        <br>
            <div class='form_group'>
                {{ form.email.label }}
                {{ form.email }}
                {% if form.email.errors %}
                    <div class='error'>
                        {% for error in form.email.errors %}
                            <span>{{ error }}</span>
                        {% endfor %}
                    </div>
                {% endif %}
            </div>
            <br>
        <br>
            <div class='form_group'>
                {{ form.address.label }}
                {{ form.address }}
                {% if form.address.errors %}
                    <div class='error'>
                        {% for error in form.address.errors %}
                            <span>{{ error }}</span>
                        {% endfor %}
                    </div>
                {% endif %}
            </div>
            <br>
            <div class='form_group'>
                {{ form.mobile.label }}
                {{ form.mobile }}
                {% if form.mobile.errors %}
                    <div class='error'>
                        {% for error in form.mobile.errors %}
                            <span>{{ error }}</span>
                        {% endfor %}
                    </div>
                {% endif %}
            </div>
        <br>
             <div class='form_group'>
                {{ form.password.label }}
                    {{ form.password }}
                    {% if form.password.errors %}
                        <div class='error'>
                            {% for error in form.password.errors %}
                                <span>{{ error }}</span>
                            {% endfor %}
                        </div>
                    {% endif %}
            </div>
                  <br>
            <div class='form_group'>
                {{ form.confirm_password.label }}
                    {{ form.confirm_password }}
                    {% if form.confirm_password.errors %}
                        <div class='error'>
                            {% for error in form.confirm_password.errors %}
                                <span>{{ error }}</span>
                            {% endfor %}
                        </div>
                    {% endif %}
            </div>
            <br>
            <div class='form_group'>
                {{ form.submit }}
            </div>
        </form>
    </div>
{% endblock %}