{%extends "layout.html" %}

{%  block body_content %}
    <div class="form">
    <form method="post" action="">


         <h1>Current Orders</h1>
            {% for order in fishvan %}
                <h3>Order ID: order.order_id</h3>
                <p><b>Stock ID: </b> {{ order.fk_stock_id }}</p>
                <p><b>Order Quantity: </b>  {{  order.quantity }}</p>
                <td>
                    <tr>
                        <form action="{{  url_for('updateorders', update=order.order_id) }}">
                            <button type="submit">Update</button>
                        </form>
                    </tr>
                    <tr>
                        <form action="{{  url_for('deleteaorder', delete=order.order_id) }}">
                            <button type="submit">Delete</button>
                        </form>
                    </tr>
                </td>

            {%  endfor %}

        <div class="form-group">
            {{ form.submit}}
        </div>
        <br>
        <br>

    </form>
    </div>
{%  endblock %}